*.log
*.pid
*.pid.lock
*.pyc
*.pyd
*.pyo
*.seed
*.sqlite
*.sqlite3
*.swo
*.swp
*~
.DS_Store
.bun
.cache
.cache-loader
.env*
.eslintcache
.git
.gitignore
.idea
.mypy_cache
.next
.npm
.nyc_output
.playwright
.pnpm-store
.pyre
.pytest_cache
.pytype
.ruff_cache
.tmp
.turbo
.venv
.vercel
.vscode
.yarn
__pycache__
apps/*/.next
apps/*/dist
build
coverage
coverage-final.json
dist
drizzle
env
htmlcov
junit.xml
logs
next-env.d.ts
node_modules
nul
nx-cache
out
packages/*/build
packages/*/dist
playwright-report
temp
test-results
Thumbs.db
tmp
venv
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*
!.env.example